<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <title>insta485</title>
  </head>
  <body class="explore">
    <header>
      <div class="header-container">
        <a class="header-logo" href="/">
          <img alt="" class="header-logo" src="/uploads/instalogo.jpg" />
        </a>
        <h1>insta485</h1>
        <a class="header-links" href="/explore/">explore</a>
        <a class="header-links" href="/users/{{logname}}/">{{logname}}</a>
      </div>
      <hr />
    </header>
    <form
      action="/accounts/?target=/accounts/edit/"
      method="post"
      enctype="multipart/form-data"
    >
      <input
        placeholder="Old Password"
        type="password"
        name="password"
        required
      />
      <input
        placeholder="New Password"
        type="password"
        name="new_password1"
        required
      />
      <input
        placeholder="New Password, again"
        type="password"
        name="new_password2"
        required
      />
      <input type="submit" name="update_password" value="submit" />
      <input type="hidden" name="operation" value="update_password" />
    </form>
    <b><a href="/accounts/edit/">Back to edit account</a></b>
  </body>
</html>
